.modal-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:gray;
}

.modal {
	width: 200px;
	height: 200px;
	background-color: blue;
	border-radius: 50%;
}