.star {
  width: 50vh;
  height: 50vh;
  // background-color: red;
  &__content-images {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  &__content-star {
    box-sizing: border-box;
    padding: 40px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: red;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}
